# ignore MacOS temp file
.DS_Store

# keep results folders, without all results files
results/*

# exception to the rule
!results/.gitkeep

# ignore jupyter checkpoints
notebook/.ipynb_checkpoints/

# ignore python3 cache
__pycache__/
 *.pyc

# ignore other conf files/dir
.idea/
